/**************about*****************/
.about {
  width: 100%;
  background-color: #e1e1e1;
}

.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px 0px;
}

.about .container .about-content {
  text-align: center;
  padding: 40px;
  width: 60%;
  background-color: #fff;
  border-radius: 15px;
}

@media (min-width:280px) and (max-width: 767px) {
  .about .container .about-content {
    width: 97%;
    padding: 10px;
    margin-top: 35px;
  }

  .help .container {
    height: 138vh;
  }
}

@media (min-width:440px) {
  .help .container {
    height: 100vh;
  }
}